<!--工作量统计 -- 指导论文:查询条件+ 通过答辩学生列表-->
<!--动态加载-->
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>指导论文工作量</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>

<body>

<div class="wrap">
    <!--<br>-->
    <!--查询条件-->
    <!--flex四列布局-->
    <div class="mweui-cells2">
        <div class="mweui-flex">
            <div class="mweui-flex__item">
                <div class="placeholder">
                    <!--入学年份选择,默认为当前学年(研一的新生)-->
                    <b>
                        <select id="graSelect" class="mweui-select graSelect" name="graSelect">
                            {%foreach from=$year item=it key=key %}

                            <option id="opt_{%$key%}"  value="{%$it.id%}">{%$it.name%}</option>
                            {%/foreach%}
                        </select>
                        <span>学年指导论文工作量</span>
                    </b>
                </div>
            </div>
        </div>
    </div>

    <!--条件查询结果-->
    <!--<div class="weui-cells__title"><span>16-17学年度</span><span>第二学期</span>授课总课时为<span class="total-num">48</span></div>-->

    <!--遍历:2017年1月,2017年7月,每个答辩时间段的记录可能有1条或2条(北京、无锡)-->

    <!--指导论文工作量列表,动态加载-->
    <div id="paperwork"></div>



</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script>
    Basicinfo.queryPaperWork();//条件指导论文工作量列表
</script>
</html>