<!--工作量统计 -- 指导论文:查询条件+ 通过答辩学生列表-->
<!--display方式-->
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>指导论文工作量</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>

<body>

<div class="wrap">
    <!--<br>-->
    <!--查询条件-->
    <!--flex四列布局-->
    <div class="mweui-cells2">
        <div class="mweui-flex">
            <div class="mweui-flex__item">
                <div class="placeholder">
                    <!--入学年份选择,默认为当前学年(研一的新生)-->
                    <b>
                        <select id="graSelect" class="mweui-select graSelect" name="graSelect">
                            <option value="1">2016-2017</option>
                            <option value="2">2015-2016</option>
                            <option value="3">2014-2015</option>
                        </select>
                        <span>学年指导论文工作量</span>
                    </b>
                </div>
            </div>
        </div>
    </div>

    <!--条件查询结果-->
    <!--<div class="weui-cells__title"><span>16-17学年度</span><span>第二学期</span>授课总课时为<span class="total-num">48</span></div>-->

    <!--遍历:2017年1月,2017年7月,每个答辩时间段的记录可能有1条或2条(北京、无锡)-->

    <!--列表-->
    <div class="mweui-cells__title"><b><span id="time_name" class="">2017年1月论文答辩</span></b></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p><span>通过论文答辩16人</span><span class="course-item" style="float: right;padding-right: 30px">工作量13.2</span></p>
            </div>
            <div class="weui-cell__ft" style="color: #5facbe;text-decoration: underline">北京</div>
        </div>
    </div>

    <div class="mweui-cells__title"><b><span id="time_name2" class="">2017年7月论文答辩</span></b></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p><span>通过论文答辩16人</span><span class="course-item" style="float: right;padding-right: 30px">工作量13.2</span></p>
            </div>
            <div class="weui-cell__ft" style="color: #5facbe;text-decoration: underline">北京</div>
        </div>
    </div>



</div>
</div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script>
    $(function () {
        $('#searchSubmit').click(function () {
            //提交查询条件
//            $('#searchPaperwork').submit();
            //测试 可删除
            location.href="index.html";
        });
    });
</script>
</html>