<!--工作量统计 -- 指导论文:查询条件+ 通过答辩学生列表-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>指导论文工作量</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>

<body>

<div class="wrap">
    <!--<br>-->
    <!--查询条件-->
    <form id="searchTeachwork" method="post" action="__URL__/index">
        <div class="page__bd mpage__bd_spacing">
            <div class="mweui-flex">
                <div class="mweui-flex__item1 ">
                    <div class="placeholder">
                        <div class="placeholder">
                            <!--入学年份选择,默认为当前学年(研一的新生)-->
                            <select class="mweui-select" name="select2">
                                <option value="0">所有学年</option>
                                <option value="1">2017年</option>
                                <option value="2">2016年</option>
                                <option value="3">2015年</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mweui-flex__item2">
                    <div class="placeholder">
                        <!--学期选择,默认为所有,1 - 秋季学期 , 2 春季学期-->
                        <select class="mweui-select" name="select2">
                            <option value="0">所有时段</option>
                            <option value="1">1月</option>
                            <option value="2">7月</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--条件查询结果(表述的不准确,根据实际情况再修改)-->
    <div class="weui-cells__title"><span>2017年</span><span>7月</span>通过论文答辩的学生为<span class="total-num">10</span>人</div>
    <!--通过答辩的学生列表-->
    <div class="weui-cells">
        <!--学生1-->
        <div class="weui-media-box weui-media-box_text">
            <!--学生年级、姓名-->
            <p class="mweui-media-box__desc"><span>2016级</span>&nbsp;&nbsp;<span>徐凯文</span></p>
            <ul class="weui-media-box__info">
                <!--研究领域-->
                <li class="weui-media-box__info__meta">方向:<span>计算机软件开发</span></li>
            </ul>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">通过答辩</li>
                <!--答辩时间-->
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">答辩时间 <span>2017年7月</span></li>
            </ul>
        </div>

        <!--学生2-->
        <div class="weui-media-box weui-media-box_text">
            <!--学生年级、姓名-->
            <p class="mweui-media-box__desc"><span>2016级</span>&nbsp;&nbsp;<span>张三</span></p>
            <ul class="weui-media-box__info">
                <!--研究领域-->
                <li class="weui-media-box__info__meta">方向:<span>软件工程技术</span></li>
            </ul>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">通过答辩</li>
                <!--答辩时间-->
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">答辩时间 <span>2017年7月</span></li>
            </ul>
        </div>

    </div>
</div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script>
    $(function () {
        $('#searchSubmit').click(function () {
            //提交查询条件
//            $('#searchPaperwork').submit();
            //测试 可删除
            location.href="index.html";
        });
    });
</script>
</html>