<!--指导论文信息列表-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>指导论文</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>

<body>
<!--顶部导航条-->
<div class="head">
    <div class="title-nav">指导论文</div>
    <div class="go-back">
        <img src="../../../../../h5/img/goback.png"/>
    </div>
</div>

<div class="wrap">

    <!--条件查询结果(表述的不准确,根据实际情况再修改)-->
    <div class="mweui-cells__title"><span>2017年7月</span>通过论文答辩的学生为<span class="total-num">10</span>人</div>
    <p></p>
    <!--通过答辩的学生列表-->
    <div class="weui-cells">

        <!--学生1-->
        <div class="weui-media-box weui-media-box_text">
            <!--学生学号和姓名-->
            <p class="mweui-media-box__desc"><span>1401210001</span>&nbsp;&nbsp;<span>徐凯文</span></p>
            <ul class="weui-media-box__info">
                <!--专业方向-->
                <li class="weui-media-box__info__meta"><span>软件开发</span>方向</li>
                <!--答辩时间段-->
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"><span>2017年7月</span>论文答辩</li>
            </ul>
        </div>

        <!--学生2-->
        <div class="weui-media-box weui-media-box_text">
            <!--学生学号和姓名-->
            <p class="mweui-media-box__desc"><span>1601210001</span>&nbsp;&nbsp;<span>刘海烨</span></p>
            <ul class="weui-media-box__info">
                <!--专业方向-->
                <li class="weui-media-box__info__meta"><span>大数据</span>方向</li>
                <!--答辩时间段-->
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"><span>2017年7月</span>论文答辩</li>
            </ul>
        </div>

    </div>
</div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</html>