<!--答辩信息-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>答辩信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
    <style type="text/css">
        .wrap .item-list.item-list-al {
            font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
        }
    </style>
</head>
<body>


<div class="wrap">

    <div class="weui-cells">

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>标题</p>
            </div>
            <div class="weui-cell__ft">{%$title%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>答辩秘书</p>
            </div>
            <div class="weui-cell__ft">{%$assistor%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>秘书邮箱</p>
            </div>
            <div class="weui-cell__ft">{%$assistormail%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>初稿提交状态</p>
            </div>
            <div class="weui-cell__ft">{%$isdraftsubmit%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>导师审核初稿状态</p>
            </div>
            <div class="weui-cell__ft">{%$isteacheragree%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>论文终稿电子版提交状态</p>
            </div>
            <div class="weui-cell__ft">{%$eFinalStatus%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>论文终稿纸质版提交审核状态</p>
            </div>
            <div class="weui-cell__ft">{%$printFinalStatus%}</div>
        </div>


    </div>

</div>

</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</html>