<!--学生信息查询页面-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的学生</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>
<body>
<!--顶部导航条-->
<div class="head">
    <div class="title-nav">学生信息查询</div>
</div>
<div class="wrap">
<form id="searchStudent" method="post" action="__URL__/studentlist">
    <!--学生学号-->
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">学号{%$id%}</label></div>
        <div class="weui-cell__bd">
            <input class="stu-num weui-input" name="studentId" type="number" pattern="[0-9]*" placeholder="可选填"/>
        </div>
    </div>
    <!--学生姓名-->
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
        <div class="weui-cell__bd">
            <input class="stu-name weui-input" name="studentName" placeholder="可选填"/>
        </div>
    </div>

    <!--入学年份选择,默认为当前学年(研一的新生)-->
    <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">年级</label>
        </div>
        <div class="weui-cell__bd">
            <select class="stu-grade weui-select" name="studentYear">
                <option value="0">全部</option>
                <option value="0">2017级</option>
                <option value="1">2016级</option>
                <option value="2">2015级</option>
                <option value="3">2014级</option>
                <option value="4">2013级</option>
            </select>
        </div>
    </div>


    <!--状态选择,默认为全部-->
    <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">状态</label>
        </div>
        <div class="weui-cell__bd">
            <select class="stu-practice weui-select" name="practiceStatus">
                <option value="0">全部</option>
                <option value="1">未实习</option>
                <option value="2">已立项</option>
                <option value="3">已结项</option>
                <option value="3">未开题</option>
                <option value="3">已开题</option>
                <option value="3">未通过答辩</option>
                <option value="3">已通过答辩</option>
            </select>
        </div>
    </div>

</form>

    <!--查询按钮,点击跳转到studentlist.html页面-->
    <div class="weui-btn-area">
        <a class="stuinfo-submit weui-btn weui-btn_primary" href="studentlist.html" id="stulist-submit">查询</a>
    </div>

</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script>
    $(function () {
        $('#stuinfo-submit').click(function () {
            $('#searchStudent').submit();
        });
    });
</script>
</html>