<!--实习信息-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>实习信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>
<body>

<!--实习信息-->
<div class="wrap">

    <div class="weui-cells__title">实习信息</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>立项日期</p>
            </div>
            <div class="weui-cell__ft">{%$lxDate%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>结项日期</p>
            </div>
            <div class="weui-cell__ft">{%$jxDate%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>实习公司</p>
            </div>
            <div class="weui-cell__ft">{%$company%}</div>
        </div>
    </div>

    <div class="weui-cells__title">审核状态</div>
    <div class="weui-cells">

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>导师审核</p>
            </div>
            <div class="weui-cell__ft">{%$teacherconfirm%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>财务审核</p>
            </div>
            <div class="weui-cell__ft">{%$cwconfirm%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>后勤审核</p>
            </div>
            <div class="weui-cell__ft">{%$hqconfirm%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>学工办审核</p>
            </div>
            <div class="weui-cell__ft">{%$xgbconfirm%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>实习办审核</p>
            </div>
            <div class="weui-cell__ft">{%$sxbconfirm%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>图书馆审核</p>
            </div>
            <div class="weui-cell__ft">{%$libraryconfirm%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>结项审核状态</p>
            </div>
            <div class="weui-cell__ft">{%$endconfirm%}</div>
        </div>




    </div>

</div>

</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</html>