<!--学生的详细信息-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>学生详细信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>
<body>
<!--weui页面结构布局测试-->
<!--页面容器,整页背景浅灰色-->
<div class="wrap">

<!--学生信息-->
    <!--头像,姓名,性别,当前状态-->
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd"><img src="{%$imgurl%}" style="width:60px;margin-right:15px;display:block"></div>
            <div class="weui-cell__bd">
                <p>{%$name%}</p>
                <p>{%$gender%}</p>
            </div>
            <div class="status weui-cell__ft" style="color: red">{%$stuSta%}</div>
        </div>
        </div>

    <!--基本信息-->
    <!--基本信息标题-->
    <div class="weui-cells__title">基本信息</div>
    <div class="weui-cells">
        <!--学号-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>学号</p>
            </div>
            <div class="weui-cell__ft">{%$stuId%}</div>
        </div>

        <!--入学年份-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>年级</p>
            </div>
            <div class="weui-cell__ft">{%$grade%}级</div>
        </div>

        <!--专业-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>专业</p>
            </div>
            <div class="weui-cell__ft">{%$major%}</div>
        </div>

        <!--研究方向-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>研究方向</p>
            </div>
            <div class="weui-cell__ft">{%$researcharea%}</div>
        </div>

        <!--培养方式-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>培养方式</p>
            </div>
            <div class="weui-cell__ft">{%$type_name%}</div>
        </div>
        <!--所在校区-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>所在校区</p>
            </div>
            <div class="weui-cell__ft">{%$location%}</div>
        </div>

    </div>


    <!--基本状态-->
    <div class="weui-cells__title">基本状态</div>
    <div class="weui-cells">
        <!--学习状态,老师没有给-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>学习状态</p>
            </div>
            <div class="weui-cell__ft">在读&nbsp;&nbsp;&nbsp;</div>
        </div>
        <!--实习信息-->
        <a class="weui-cell weui-cell_access" href="__URL__/inerinfo?stuId={%$stuId%}">
            <div class="weui-cell__bd">
                <p>实习信息</p>
            </div>
            <!--实习状态:未实习、实习中、实习结束-->
            <div class="inerStatus weui-cell__ft">{%$stuInerSta%}</div>
        </a>
        <!--开题信息-->
        <a class="weui-cell weui-cell_access" href="__URL__/thesisinfo?stuId={%$stuId%}">
            <div class="weui-cell__bd">
                <p>开题信息</p>
            </div>
            <!--开题状态:未开题、已开题-->
            <div class="thesisStatus weui-cell__ft">{%$stuThesisSta%}</div>
        </a>
        <!--答辩信息-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>答辩信息</p>
            </div>
            <!--答辩状态:未通过答辩、已通过答辩-->
            <div class="passtatus weui-cell__ft">{%$stuPassSta%}&nbsp;&nbsp;&nbsp;</div>
        </div>
        <!--就业信息-->
        <a class="weui-cell weui-cell_access" href="__URL__/jobinfo?stuId={%$stuId%}">
            <div class="weui-cell__bd">
                <p>就业信息</p>
            </div>
            <div class="weui-cell__ft"> </div>
        </a>
    </div>

    <!--基本信息标题-->
    <div class="weui-cells__title">联系方式</div>
    <div class="weui-cells">
        <!--手机-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>手机</p>
            </div>
            <div class="weui-cell__ft">{%$telephone%}</div>
        </div>

        <!--电子邮箱-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>E-mail</p>
            </div>
            <div class="weui-cell__ft">{%$mail%}</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script>
//    var stuStr = window.localStorage["stuStr"];//
//        stuObj = JSON.parse(stuStr);
////        console.log(stuObj);
//
//    for(var i=1;i<stuObj.length;i++){
//        console.log(stuObj[i]);
//    }

    //测试 可删除
//    console.log( window.localStorage["status"]);
//    console.log( window.localStorage["iner_status"]);
//    console.log( window.localStorage["thesis_status"]);
//    console.log( window.localStorage["pass_status"]);


    <!--赋值状态:当前状态、实习状态、开题状态、答辩状态-->
//    $(".status").html(window.localStorage["status"]);
//    $(".inerStatus").html(window.localStorage["iner_status"]);
//    $(".thesisStatus").html(window.localStorage["thesis_status"]);
//    $(".passtatus").html(window.localStorage["pass_status"]);
//    localStorage.clear();//赋值后,清空数据


</script>
</html>