<!--开题信息-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>开题信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
    <style type="text/css">
        .wrap .item-list.item-list-al {
            font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
        }
    </style>
</head>

<body>
<!--论文信息,如 未开题,所有信息显示为无-->
<div class="wrap">
    <div class="weui-cells">
        <!--论文题目-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>开题题目</p>
            </div>
            <div class="weui-cell__ft">{%$topic%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>提交状态</p>
            </div>
            <div class="weui-cell__ft">{%$tjStatus%}</div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>审核状态</p>
            </div>
            <div class="weui-cell__ft">{%$shStatus%}</div>
        </div>

        <!--论文开题审核日期-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>审核日期</p>
            </div>
            <div class="weui-cell__ft">{%$ktDate%}</div>
        </div>
    </div>
</div>

</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
</html>