<!--工作量统计 -- 综合实践:查询条件+课程列表-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>指导综合实践工作量</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>

<body>
<div class="wrap">
    <!--<br>-->
    <!--查询条件-->
    <form id="searchTeachwork" method="post" action="__URL__/index">
        <div class="page__bd mpage__bd_spacing">
            <div class="mweui-flex">
                <div class="mweui-flex__item1 ">
                    <div class="placeholder">
                        <div class="placeholder">
                            <!--入学年份选择,默认为当前学年(研一的新生)-->
                            <select class="mweui-select" name="select2">
                                <option value="0">所有学年</option>
                                <option value="1">16-17学年</option>
                                <option value="2">15-16学年</option>
                                <option value="3">14-15学年</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mweui-flex__item2">
                    <div class="placeholder">
                        <!--学期选择,默认为所有,1 - 秋季学期 , 2 春季学期-->
                        <select class="mweui-select" name="select2">
                            <option value="0">所有学期</option>
                            <option value="1">第一学期</option>
                            <option value="2">第二学期</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--条件查询结果(表述的不准确,不清楚综合实践的工作量怎么统计,按人数?,根据实际情况再修改)-->
    <div class="weui-cells__title"><span>16-17学年度</span>指导综合实践的工作量为<span class="total-num">10</span>人</div>

    <!--综合实践信息列表-->
    <div id="pracWork" class="weui-cells"></div>
</div>
</div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/config.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script type="text/javascript">
    Basicinfo.queryPracticeWork();
</script>
</html>