<!--综合实践信息列表-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>综合实践</title>
    <link rel="stylesheet" href="../../../../../h5/css/normalize.css"/>
    <link rel="stylesheet" href="../../../../../h5/css/base.css">
    <link rel="stylesheet" href="../../../../../h5/css/zepto.alert.css">
    <link rel="stylesheet" href="../../../../../h5/dist/style/weui.css"/>
    <link rel="stylesheet" href="../../../../../h5/dist/example/example.css"/>
</head>

<body>
<!--顶部导航条-->
<div class="head">
    <div class="title-nav">综合实践</div>
    <div class="go-back">
        <img src="../../../../../h5/img/goback.png"/>
    </div>
</div>

<div class="wrap">
    <!--条件查询结果(表述的不准确,根据实际情况再修改)-->
    <div class="mweui-cells__title"><span>当前学年</span>综合实践的工作量为<span class="total-num">10</span>人</div>
    <p></p>
    <!--课程列表-->
    <div class="weui-cells">

        <!--课程1-->
        <div class="weui-media-box weui-media-box_text">
            <!--综合实践班号-->
            <p class="mweui-media-box__desc">综合实践1班</p>
            <ul class="weui-media-box__info">
                <!--学年-->
                <li class="weui-media-box__info__meta"><span>2017</span>学年</li>
                <!--工作量-->
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">工作量?</li>
            </ul>
        </div>

        <!--课程2-->
        <div class="weui-media-box weui-media-box_text">
            <!--综合实践班号-->
            <p class="mweui-media-box__desc">综合实践2班</p>
            <ul class="weui-media-box__info">
                <!--学年-->
                <li class="weui-media-box__info__meta"><span>2016</span>学年</li>
                <!--工作量-->
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">工作量?</li>
            </ul>
        </div>

    </div>
</div>
</div>
</body>
<script type="text/javascript" src="../../../../../h5/js/zepto.min.js"></script>
<script type="text/javascript" src="../../../../../h5/js/zepto.alert.js"></script>
<script type="text/javascript" src="../../../../../h5/js/base.js"></script>
</html>