<!--工作量统计 -- 授课信息主页:查询条件+课程列表-->
<!--display方式-->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>授课课时工作量</title>
    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/css/zepto.alert.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/example/example.css"/>
</head>
<!--display方式显示课程列表-->
<body>
<div class="wrap">
    <!--<br>-->
    <!--查询条件-->
    <!--flex四列布局-->
    <div class="mweui-cells2">
        <div class="mweui-flex">
            <div class="mweui-flex__item">
                <div class="placeholder">
                    <!--入学年份选择,默认为当前学年(研一的新生)-->
                    <b>
                    <select id="graSelect" class="mweui-select graSelect" name="graSelect">
                        <option value="1">2016-2017</option>
                        <option value="2">2015-2016</option>
                        <option value="3">2014-2015</option>
                    </select>
                    <span>学年课程列表</span>
                    </b>
                </div>
            </div>
        </div>
    </div>


    <!--条件查询结果-->
    <!--<div class="weui-cells__title"><span>16-17学年度</span><span>第二学期</span>授课总课时为<span class="total-num">48</span></div>-->

    <!--课程列表-->
    <!--春季课程列表-->
    <div class="mweui-cells__title"><b><span>2017年</span>春季学期</b></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p><span>互联网软件开发技术实践</span><span class="course-item" style="float: right;padding-right: 30px">32课时</span></p>
            </div>
            <div class="weui-cell__ft" style="color: #5facbe;text-decoration: underline">36人</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p><span>海量数据处理</span><span class="course-item" style="float: right;padding-right: 30px">32课时</span></p>
            </div>
            <div class="weui-cell__ft" style="color: #5facbe;text-decoration: underline">36人</div>
        </div>
    </div>

    <!--秋季课程列表-->
    <div class="mweui-cells__title"><b><span>2016年</span>秋季学期</b></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p><span>互联网软件开发技术实践</span><span class="course-item" style="float: right;padding-right: 30px">32课时</span></p>
            </div>
            <div class="weui-cell__ft" style="color: #5facbe;text-decoration: underline">36人</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p><span>海量数据处理</span><span class="course-item" style="float: right;padding-right: 30px">32课时</span></p>
            </div>
            <div class="weui-cell__ft" style="color: #5facbe;text-decoration: underline">36人</div>
        </div>
    </div>

    </div>
</div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/zepto.alert.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
<script>
</script>
</html>